
.table-head {
  background-color: black;
  color: white;
}

#filter-btn {
  background-color:green;
  color: black;
}

#reset-btn {
  background-color:brown;
  color: black;
}

h1, h2 {
  text-align: center;
}

#image {
  display: block;
  margin: 0 auto;
  width: 40%;
  height: 40%;
  position: relative;
}


#page-footer {
  width: 100%;
  height: 30px;
  background-color: black;
  color: white;
  text-align: center;
}


#separator {
  height: 400px;
}

